@keyframes zyx-door-enter {
    from {
        transform: scale3d(0, 1, 1);
    }

    to {
        transform: scale3d(1, 1, .1);
    }
}

.zyx-door-enter {
    animation: zyx-door-enter both cubic-bezier(0.4, 0, 0, 0); // both 动画进入之前是scale3d(0,1,1) 动画结束后保持scale3d(1,1,.1)
}

@keyframes zyx-door-leave {
    from {
        transform: scale3d(1, 1, 1);
    }

    60% {
        transform: scale3d(.01, 1, 1);
    }

    to {
        transform: scale3d(0, 1, .1);
    }
}

.zyx-door-leave {
    animation: zyx-door-leave both;
}